<h1>Contacts</h1><br>
<%@contacts.map do |contact|%>
  <h3><%=contact.full_name%></h3>
  <h4><%=contact.phone_number%></h4>
  <p><%=contact.email%></p>
  <p><%=contact.bio%></p>
  <a href="/contacts/<%=contact.id%>">Show more</a><br><br>
<%end%>